include LICENCE RELEASE-NOTES AUTHORS
include README.rst
include electrum-nmc.conf.sample
include electrum-nmc.desktop
include *.py
include electrum-nmc
include contrib/requirements/requirements.txt
include contrib/requirements/requirements-hw.txt
recursive-include lib *.py
recursive-include gui *.py
recursive-include plugins *.py
recursive-include packages *.py
recursive-include packages cacert.pem
include icons.qrc
recursive-include icons *
recursive-include scripts *

