include LICENCE RELEASE-NOTES AUTHORS
include README.rst
include electrum-chi.desktop
include *.py
include run_electrum_nmc
include contrib/requirements/requirements.txt
include contrib/requirements/requirements-hw.txt
recursive-include packages *.py
recursive-include packages cacert.pem

graft electrum_nmc
prune electrum_nmc/electrum/tests

global-exclude __pycache__
global-exclude *.py[co~]
global-exclude *.py.orig
global-exclude *.py.rej
